################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GD.FabricRedux/GD.FabricRedux.UX/node_modules
